*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf');
}
body{
    font-family: 'Manrope';
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: bold;
}
.i{
    width: 20px;
    height: 20px;
    margin-right: 2%;
    }
/*header*/
.header{
    display: flex;
    padding: 1%;
    background-color: #252f3d;
    color: #ffffff;
}
.container-hdr{
    width: 100%;
    margin-left: 5%;
    display: flex;
}
.container-hdr i{
    margin-right: 5%;
}
/*Logos*/
.logos{
    display: flex;
    margin-top: 3%;
}
.image{
width: 80%;
}
.image2{
    width: 80%;
}
.image3{
    width: 80%;
}
.clarifion{
    width: 40%;
    margin-left: 5%;

}
.mcafee{
    width: 30%;
    margin-left: 60%;
}
.norton{
    width: 30%;
    margin-top: -1%;
}
/*OIP Section*/
.OIP{
    text-align: center;
}
.OIP h1{
    font-size: 42px;
    font-weight: 300;
}
/*order status*/
.order-status{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
}
.i-3{
    width: 30px;
    height: 30px;
    margin-right: 2%; 
}
.i-4{
    width: 30px;
    height: 30px;
    margin-right: 2%; 
}
.steps{
display: flex;
width: 20%;
}
/*product section*/
.prod-sect{
    background-color: #fafafa;
    width: 80%;
    margin-left: 10%;
    height: 800px;
    display: flex;
}
.left-sect{
    width: 50%;
    display: grid;
}
.prod-img{
    padding: 5%;
}
.img-rnd{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 3%;
    margin-top: 2%;
}
.review{
    display: flex;
    background-color: #ffffff;
    height: 140px;
    margin-left: 5%;
    width:97%;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
.rate{
    margin-left: 3%;
    margin-top: 2%;
}
.rate h6{
    font-weight: bold;
    width: 50px;
}
.rt-p{
    position: absolute;
    margin-top: 1%;
    left: 13%;
    width: 38%;
    font-weight: 400;
    font-size: 16px;  
}
.rt-txt{
    display: flex;
}
.rt-txt img{
    width: 15px;
    height: 15px;
    margin-left: 10%; 
}
.rt-txt p{
  font-size: 12px;
  width: 300px;
  margin-left: 2%;
}
.stars i{
    color: gold;
    font-size: 12px;
}
.prod-desc{
    width: 45%;
    margin-left: 4%;
    margin-top: 2%;
}
.prod-desc p{
    font-size: 32px;
    color: #2c7ef8;
}
.prod-desc span{
    color: black;
}