*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf');
}
body{
    font-family: 'Manrope';
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: bold;
}
.i{
    width: 20px;
    height: 20px;
    margin-right: 2%;
    }
/*header*/
.header{
    display: flex;
    padding: 1%;
    background-color: #252f3d;
    color: #ffffff;
}
.container-hdr{
    width: 100%;
    margin-left: 5%;
    display: flex;
}
.container-hdr i{
    margin-right: 5%;
}
/*Logos*/
.logos{
    display: flex;
    margin-top: 3%;
}
.image{
width: 80%;
}
.image2{
    width: 80%;
}
.image3{
    width: 80%;
}
.clarifion{
    width: 40%;
    margin-left: 5%;

}
.mcafee{
    width: 30%;
    margin-left: 60%;
}
.norton{
    width: 30%;
    margin-top: -1%;
}
/*OIP Section*/
.OIP{
    text-align: center;
}
.OIP h1{
    font-size: 42px;
    font-weight: 300;
}
/*order status*/
.order-status{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
}
.i-3{
    width: 30px;
    height: 30px;
    margin-right: 2%; 
}
.i-4{
    width: 30px;
    height: 30px;
    margin-right: 2%; 
}
.steps{
display: flex;
width: 20%;
}
/*product section*/
.prod-sect{
    background-color: #fafafa;
    width: 80%;
    margin-left: 10%;
    height: 800px;
    display: flex;
}
.left-sect{
    width: 50%;
    display: grid;
}
.prod-img{
    padding: 5%;
}
.img-rnd{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 3%;
    margin-top: 2%;
}
.review{
    display: flex;
    background-color: #ffffff;
    height: 140px;
    margin-left: 5%;
    width:97%;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}
.rate{
    margin-left: 3%;
    margin-top: 2%;
}
.rate h6{
    font-weight: bold;
    width: 50px;
}
.rt-p{
    position: absolute;
    margin-top: 1%;
    left: 13%;
    width: 38%;
    font-weight: 400;
    font-size: 16px;  
}
.rt-txt{
    display: flex;
}
.rt-txt img{
    width: 15px;
    height: 15px;
    margin-left: 10%; 
}
.rt-txt p{
  font-size: 12px;
  width: 300px;
  margin-left: 2%;
}
.stars i{
    color: gold;
    font-size: 12px;
}
.prod-desc{
    width: 45%;
    margin-left: 4%;
    margin-top: 2%;
}
.prod-desc p{
    font-size: 32px;
    color: #2c7ef8;
}
.prod-desc span{
    color: black;
}
.product{
    margin-top: 4%;
    display: flex;
}
.product-img{
    background-color: #2c7ef8;
    width: 134px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.product-img img{
    width: 134px;
    height: 134;
}
.product h3{
    margin-left: 2%;
    font-weight: 400;
}
.product-desc{
    width: 100%;
    display: flex;
    margin-left: 3%;
}
.price-bf{
    position: absolute;
    text-decoration: line-through;
    color: #969696;
    right: 250px;
}
.price-now{
    position: absolute;
    right: 180px;
    top: 56%;
    color: #2c7ef8;
}
.stars-desc{
    position: absolute;
    bottom: 34%;
    right: 28%;
}
/*stock*/
.dot{
    color: #2c7ef8;
    font-size: 10px;
    background-color:#e3eeff;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 4%;
    padding-top: 8%;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}
.stock{
    display: flex;
    width: 100px;
}
.stock p{
    margin-top: 4%;
    margin-left: 5%;
    font-size: 10px;
    color: #37465a;
}
/*description*/
.dscription{
  position: absolute;
  right: 10%;
  bottom: 28%;
  width: 25%;
}
.dscription p{
    font-size: 14px;
    color: #4d5254;
}
/*checks*/
.checks{
    width: 600px;
    margin-top: 4%;
}
.check-inf{
    display: flex;
    color: #0c8ce9;
    font-size: 20px;
    margin-bottom: 2%;
}
.checks p{
    font-size: 15px;
    color: black;
    margin-left: 2%;
}
/*save*/
.save{
    display: flex;
}
.save h4{
    margin-top: 0.5%;
}
.save span{
    color: #2c7ef8;
}
.percent{
    background-color: #0c8ce9;
    width: 30px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
    margin-right: 2%;
}
.percent i{
    margin-top:6px;
}
.button{
    margin-top: 4%;
    background-color: #59ae43;
    text-align: center;
    width: 450px;
    height:50px;
    border-color: transparent;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
}
.button a{
    text-decoration: none; 
}
.shipping-info{
    display: flex;
    border: solid 2px #cfcfcf;
    margin-top: 4%;
    margin-bottom: 2%;
}
.shipping-info p{
    color: #cfcfcf;
    font-size: 12px;
    margin-top:0.5%;
    margin-left: 1%;
}
.shipping-info i{
    color: #cfcfcf;
    font-size: 10px;
    margin-top:1%;
    margin-left: 1%;
}
.shipping-info img{
 width: 25px;
 height: 15px;
 margin-top: 3px;
 margin-right: 5px;
}
.line{
    margin-top: 0.5%;
    margin-left: 1%;
    width: 1px;
    height: 15px;
    background-color: #cfcfcf;
}
.no-thanks{
    color: red;
    font-weight: 400;
    font-size: 25px;
    margin-left: 15%;
}
/*satis guarantee*/
.satis-guarantee{
    margin-top: 5%;
    display: flex;
}
.satis-guarantee img{
    width: 120px;
}
.satis-guarantee p{
    margin-top: 4%;
    font-size: 14px;
    color: #37465a;
}
/*footer*/
.footer{
    background-color: #252f3d;
    display: flex;
}
.copy{
    margin-left: 5%;
    display: flex;
    width: 60%;
    color: #ffffff;
    text-align: center;
    padding: 2%;
}
.line-right{
    padding-right: 2%;
    border-right: solid 1px;
}
.mail{
    margin-left: 2%;
}
.secure{
    margin-left: 30%;
    width: 40%;
    padding: 2%;
    display: flex;
    color: #ffffff;
}
.secure i{
    padding-right: 2%;
}