*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-VariableFont_wght.ttf');
}
body{
    font-family: 'Manrope';
    font-weight: 100;
    padding: 0;
    margin: 0;
}
.bold{
    font-weight: bold;
}
.i{
    width: 20px;
    height: 20px;
    margin-right: 2%;
    }
/*header*/
.header{
    display: flex;
    padding: 1%;
    background-color: #252f3d;
    color: #ffffff;
}
.container-hdr{
    width: 100%;
    margin-left: 5%;
    display: flex;
}
.container-hdr i{
    margin-right: 5%;
}
/*Logos*/
.logos{
    display: flex;
    margin-top: 3%;
}
.image{
width: 80%;
}
.image2{
    width: 80%;
}
.image3{
    width: 80%;
}
.clarifion{
    width: 40%;
    margin-left: 5%;

}
.mcafee{
    width: 30%;
    margin-left: 60%;
}
.norton{
    width: 30%;
    margin-top: -1%;
}
/*OIP Section*/
.OIP{
    text-align: center;
}
.OIP h1{
    font-size: 42px;
    font-weight: 300;
}
/*order status*/
.order-status{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
}
.i-3{
    width: 30px;
    height: 30px;
    margin-right: 2%; 
}
.i-4{
    width: 30px;
    height: 30px;
    margin-right: 2%; 
}
.steps{
display: flex;
width: 20%;
}
/*product section*/
.prod-sect{
    background-color: #252f3d;
}
.left-sect{
    width: 50%;

}
.prod-img{
    width: 70%;
    padding: 1%;
}



